* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header {
    width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 6em;
}
nav .main-ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .main-ul li{
    margin: 0 12px;
}
nav .second-ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .second-ul li{
    margin: 0 12px;
}
nav .third-ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .third-ul li{
    margin: 0 12px;
}
.hero-section {
  width: 100vw;
  height: 100vh;
  background-color: #b9deff;
}
